@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}


header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}


.nav_link {
  display: flex;
  list-style: none;
}

.nav_link li {
  margin: 0 30px;
}

.nav_link li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nav_link li a:hover,
.nav_link li a.active {
  color: blue;
}

header .menu-btn i {
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}

.hero {
  min-height: 80vh;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero .hero-info {
  width: 100%;
  text-align: center;
}
.hero .hero-info .hero-info-heading {
  font-size: 3rem;
  font-weight: 500;
  color: whitesmoke;
}
.hero .hero-info .hero-info-subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: whitesmoke;
}

.hero .hero-img {
  height: auto;
  width: 50%;
}
.hero .hero-img img {
  height: 100%;
  width: 100%;
}
span {
  color: blue;
}

@media (max-width: 980px) {
  header .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  .nav_link {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ .nav_link {
    left: 0%;
  }
  .nav_link li {
    margin: 40px 0;
  }
  .nav_link li a {
    font-size: 20px;
    display: block;
  }
  .nav_link li a:hover,
  .nav_link li a.active {
    color: blue;
  }
  .hero .hero-info .hero-info-heading {
    font-size: 3rem;
  }
  .hero .hero-info .hero-info-subheading {
    letter-spacing: 0.8rem;
  }

}

@media (min-width: 1200px) {
  .hero {
    height: 100vh;
    flex-direction: row;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-info {
    max-width: 30%;
    text-align: left;
  }
  .hero .hero-info .hero-info-subheading {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
  }
  .hero .hero-img {
    min-width: 400px;
    max-width: 700px;
  }
}

.about {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 10, 0.52), rgba(0, 0, 10, 0.52)), url('images/back.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
}
.about-details {
  padding: 30px 100px;
}
.about-details h1 {
  font-size: 50px;
  font-family: 800;
  text-transform: uppercase;
}
.about-details img {
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 60px;
}
.about-details p {
  font-size: 20px;
  margin-top: 30px;
}


.projects {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #000;
  line-height: 1.5;
  letter-spacing: 1px;
}

.projects-heading h1 {
  font-size: 50px;
  font-family: 800;
  text-transform: uppercase;
}

.projects-cards{
  max-width: 1200px;
  margin: 0 auto;
}

.card_image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 640px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(#434343 , #000000 );
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* footer */

.inner-footer{
  margin: 0;
  padding: 0px 50px;
  font-size: 18px;
  background-color: #272727;
}

.social-links{
  display: flex;
}

.social-links ul{
  padding: 30px;
  display: flex;
  margin: auto;
}

.social-items{
  list-style: none;
}

.social-items a{
  padding: 10px 20px;
  font-size: 35px;
  color: #fff;
  transition: all .25s;
}

.social-items a:hover{
  color: blue;
}

.outer-footer{
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #272727;
}